*[b-eqtavu1346] {box-sizing: border-box;}

.card[b-eqtavu1346]{
    background: #bfd1ec;
    padding: 20px;
    width: 30%;
    height: 40%;
    float: left;
}
img[b-eqtavu1346]{
    width:90% ;
    height: 50%;
    float: right;
}