* {
    box-sizing: border-box;
}

.card{
    padding: 20px;
    width: 65%;
    float: left;
}

.button-message {
    float: left;
    margin-left: 2%;
}

.acceptbtn {
    padding: 4px;
    margin-right: 10px;
}

#product-image {
    width: 50%;
}

.small-card {
    padding: 20px;
    width: 34%;
    float: right;
}