* {box-sizing: border-box;}

.form-group-field{
    padding: 10px;
    float: left;
}
.card{
    padding: 20px;
    float: left;
    width: 65%;
}

.button-message
{
    float: left;
    margin-left: 2%;
}
.small-form-field
{
    width: 50%;
    padding: 10px;
    float: left;
    display: inline;
}


input
{
    width: 73%;
    float: right;
}
.long-input
{
    width: 87%;
}

.acceptbtn
{
   padding: 4px;
    margin-right: 10px;
}
#dropdown-list
{
    float: right;
    width: 75%;
}
#dropdown-input
{
    width: 100%;
    float: right;
}



