@page "/AboutUs"
<h3>AboutUs</h3>

<div>
    <div>
        <div>
            <img src="img/Rafa.jpeg" alt="im1">
        </div>
        <div>
            <a href="mailto:315212@via.dk">Rafael Sánchez Córdoba</a>
        </div>
    </div>
    <div>
        <div>
            <img src="img/Rosa.jpeg" alt="im2">
        </div>
        <div>
            <a href="mailto:315250@via.dk">Rosa Briales Marfil</a>
        </div>
    </div>
    <div>
        <div>
            <img src="img/Maria.jpeg" alt="im3">
        </div>
        <div>
            <a href="mailto:315266@via.dk">María Ortiz Planchuelo</a>
        </div>
    </div>
    <div>
        <div>
            <img src="img/Rafa.jpeg" alt="im1">
        </div>
        <div>
            <a href="mailto:315212@via.dk">Rafael Sánchez Córdoba</a>
        </div>
    </div>
</div>

@code {
    
}