@page "/CreateProducts"
@inject NavigationManager navMgr

<label>Which type of product would you like to add to the system?</label>

<div class="myButton" @onclick="TrousersBtn">Trousers</div>
<div class="myButton" @onclick="SocksBtn">Socks</div>

@code {

    private void TrousersBtn()
    {
        navMgr.NavigateTo("CreateTrouser");
    }
    private void SocksBtn()
    {
        navMgr.NavigateTo("CreateSocks");
    }
}