*
{
    box-sizing: border-box;
}

.categoryCard
{
    height: 380px;
    width: auto;
    margin: 30px 0px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.categoryTitle
{
    
}