@page "/"
@inject NavigationManager NavManager

<h1>Online shop</h1>
<p>Choose which type of product you'd like to purchase</p>

<button onclick="@socksBtn">Socks</button>
<button>T-shirts</button>
<button>Trousers</button>

@code
{
 public async Task  socksBtn()
 {
  NavManager.NavigateTo($"/BrowseSocks");
 }
}
