@page "/"
@inject NavigationManager NavManager

<h1>Online shop</h1>
<h2>Your Fashion Future is Here</h2>
<p>We sell 100% recycled clothing that never ends up in a landfill.</p>
<p>Together we can end fashion waste</p>

<div>
 <div>
  <h3>New Arrivals</h3>
  <p>Shop All -></p>
 </div>
 <div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
 </div>
</div>

<div>
 <div>
  <h3>Categories</h3>
 </div>
 <div>
  <div>
   <p>Socks</p>
   <button onclick="@socksBtn">Socks</button>
  </div>
  <div>
   <p>T-Shirts</p>
   <button>T-shirts</button>
  </div>
  <div>
   <p>Trousers</p>
   <button>Trousers</button>
  </div>
 </div>
</div>


@code
{
 public async Task  socksBtn()
 {
  NavManager.NavigateTo($"/BrowseSocks");
 }
}
