* {
    box-sizing: border-box;
}

.categoryCard {
   display: flex;
    height: 380px;
    width: auto;
    margin: 30px 0px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
}

h2{
   font-family: "Rubik";
    font-size: 60px;
    -webkit-text-stroke: 3px black;
    color: #8b9cb3;
    margin: 0px auto;
}

h4{
    font-family: "hind madurai";
    font-size: 50px;
    margin: 0px auto;
}
h3{
    font-family: "proza libre";
    font-size: 60px;
    margin: 0px auto;
}

.categoryTitle{
   margin: 0px auto;
    color: white;
    font-family: "Arial Black";
    font-size: 100px;
    -webkit-text-stroke: 3px black;
}

.eco-container {
    width: 45%;
    margin: 0px auto;
    background-color: #1dbf51;
    padding: 20px;
    display: flex;
    align-items:center;
}

.title-container{
    display: flex;
    align-items:center;
}



