@page "/OrderInformation/{id:int}"
@using global::Shared.Models
@using global::Shared.DTOs
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inherits LayoutComponentBase
@inject IShoppingCartService shoppingCartService

<h3>OrderInformation</h3>

<div class="container"> 
    <div class="card">
    
        <div class="form-group-field">
            <label>Email: </label>
            <input class="long-input" type="text" @bind="email" @bind:event ="oninput"/>
        </div>
    
        <div class="form-group-field">
            <label>Name:</label>
            <input class="long-input" type="text" @bind="name" @bind:event ="oninput"/>
        </div>
    
        <div class="small-form-field" >
            <label>Phone:</label>
            <input type="text" class="small-input" @bind="phone" @bind:event ="oninput"/>
        </div>  
    
        <div>
            <div class="small-form-field" >
                <label>Country:</label>
                <input type="text" class="small-input"  @bind="country" @bind:event ="oninput"/>
            </div>
    
            <div class="form-group-field">
                <label>City:</label>
                <input class="long-input" type="text" @bind="city" @bind:event ="oninput"/>
            </div>
        </div>
    
        <div class="small-form-field">
            <label>Street:</label>
            <input type="text" class="small-input" @bind="street" @bind:event ="oninput"/>
        </div>
    
        <div>
            <div class="small-form-field">
                <label>Number:</label>
                <input type="text" class="small-input" @bind="number" @bind:event ="oninput"/>
            </div>
            <div class="small-form-field">
                <label>Postcode:</label>
                <input type="text" class="small-input" @bind="postcode" @bind:event ="oninput"/>
            </div>
    
        </div>
        
        <div class="small-form-field">
            <label>Option:</label>
            <input type="text" class="small-input" @bind="option" @bind:event ="oninput"/>
        </div>
    </div>
    <div class="button-message">
        <button @onclick="ConfirmInformation" class="acceptbtn">Confirm My Information</button>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <br/> <label style="color:red">@resultMsg</label>
        }
    </div>
     <CascadingValue Value="@OrderDto">
         <article class="content px-4">
             @Body
         </article>
      </CascadingValue>
    
</div>
   

@code {
   [Parameter]
       public int Id { get; set; }

    private string email = "";
    private string name = "";
    private string phone = "";
    private string country = "";
    private string city = "";
    private string street = "";
    private int number = 0;
    private int postcode = 0;
    private string option = "";
    
    
    private CreateOrderDto OrderDto = null;

    


    private string resultMsg = "";
    private string color = "";

    private async Task ConfirmInformation()
    {
        try
        {
            global::Shared.Models.ShoppingCart cart = await shoppingCartService.getByIdAsync(Id);
            OrderDto = new CreateOrderDto( "Processing order", name, email, phone, cart, new Adress(1, 1, country, city, postcode, street, number, option));
            navMgr.NavigateTo($"/OrderSummary");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }

    }




}