.colorBtn {
    aspect-ratio: 1;
    border-radius: 50%;
    float:left;
    place-items: center;
}

.sizeBtn
{
    aspect-ratio: 1;
    border-radius: 20%;
    float:left;
    place-items: center;
    border: black solid;
    width: 40px;
}

.sockImg
{
    width: 48%;
    float: left;
}

.sockInfo
{
    width: 50%;
    float: left;
}