@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<TestComponent @ref="alfa" ></TestComponent>
<TestComponent @ref="beta"></TestComponent>

<SurveyPrompt Title="How is Blazor working for you?"/>
<button @onclick="GetMSg"> get data</button>
<p>@msg</p>
@code
{
    TestComponent alfa;
    TestComponent beta;

    private string msg = "";

    private void GetMSg()
    {
        msg = alfa.GetData() + "--" + beta.GetData();
    }
}
