@using HttpClients.ClientInterfaces
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IUserService authService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
           
            <img  style="width: 44px; float: right" src="https://static.thenounproject.com/png/1709580-200.png" @onclick="@(() => NavManager.NavigateTo("/ShoppingCart"))"/>
            <AuthorizeView>
                <Authorized>
                    <img style="width: 44px" src="https://static.thenounproject.com/png/1251649-200.png" @onclick="Logout"/>
                </Authorized>
                <NotAuthorized>
                    <img style="width: 44px" src="https://static.thenounproject.com/png/1401845-200.png" @onclick="Login"/>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

    private void Login()
    {
        NavManager.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        NavManager.NavigateTo("/");
    }

}