<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorOS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                @if (@context.User.HasClaim("Authorization", "Manager"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="CreateSocks" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Create Sock
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ManageSocks" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Manage Socks
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="CreateTrouser" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Create Trouser
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ManageTrousers" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Manage Trousers
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BrowseSocks" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Socks
            </NavLink>
            </div>
        <div class="nav-item px-3">
            
            <NavLink class="nav-link" href="BrowseTrousers" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Trousers
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}