<<<<<<<< HEAD:Code/T2_SEP3/BlazorOS/Pages/Components/CreateInventory.razor
<h3>CreateInventory</h3>
========
<h3>InventoryCreation</h3>
>>>>>>>> new-master:Code/T2_SEP3/BlazorOS/Pages/UIComponents/InventoryCreation.razor

 <fieldset id="colorsBox" >
        <legend>Choose colors:</legend>
        <div>
            <input type="checkbox" id="black"  name="black"/>
            <label for="black" style="color: black">Black</label>
              <div class="form-group field" display:inline >
                    <label>XXS:</label>
                    <input type="number"  @bind:event ="oninput"/>
                     <label>XS:</label>
                    <input type="number"  @bind:event ="oninput"/>
                      <label>S:</label>
                    <input type="number"  @bind:event ="oninput"/>
                      <label>M:</label>
                    <input type="number"  @bind:event ="oninput"/>
                      <label>L:</label>
                    <input type="number"  @bind:event ="oninput"/>
                      <label>XL:</label>
                    <input type="number"  @bind:event ="oninput"/>
              </div>
        </div>
        <div>
            <input type="checkbox" id="white" name="white"/>
            <label for="white" style="color:gainsboro">White</label>
            
              <div class="form-group field" display:inline >
                    <label>XXS:</label>
                    <input type="number" />
                     <label>XS:</label>
                    <input type="number" />
                      <label>S:</label>
                    <input type="number" />
                      <label>M:</label>
                    <input type="number"  />
                      <label>L:</label>
                    <input type="number"/>
                      <label>XL:</label>
                    <input type="number" />
              </div>
        </div>
        <div>
            <input type="checkbox" id="red" name="red"/>
            <label for="black" style="color: orangered">Red</label>
        </div>
        <div>
            <input type="checkbox" id="green" name="green"/>
            <label for="green" style="color:green">Green</label>
        </div>
        <div>
            <input type="checkbox" id="yellow" name="yellow"/>
            <label for="yellow" style="color:yellow">Yellow</label>
        </div>
        <div>
            <input type="checkbox" id="grey" name="grey"/>
            <label for="grey" style="color:grey">Grey</label>
        </div>
        <div>
            <input type="checkbox" id="purple" name="purple"/>
            <label for="purple" style="color:purple">Purple</label>
        </div>
        <div>
            <input type="checkbox" id="brown" name="brown"/>
            <label for="brown" style="color:#683838">Brown</label>
        </div>
        <div>
            <input type="checkbox" id="orange" name="orange"/>
            <label for="orange" style="color:orange">Orange</label>
        </div>
        <div>
            <input type="checkbox" id="multi" name="multi"/>
            <label for="multi" style="color:deeppink">Multicolor</label>
        </div>
    </fieldset>
@code {
    
}