*[b-ocdfxevhib] {
    box-sizing: border-box;
}

.card[b-ocdfxevhib]{
    padding: 20px;
    width: 65%;
    float: left;
}

.button-message[b-ocdfxevhib] {
    float: left;
    margin-left: 2%;
}

.acceptbtn[b-ocdfxevhib] {
    padding: 4px;
    margin-right: 10px;
}

#product-image[b-ocdfxevhib] {
    width: 50%;
}

.small-card[b-ocdfxevhib] {
    padding: 20px;
    width: 34%;
    float: right;
}