*[b-qno29iuakm] {box-sizing: border-box;}

.card[b-qno29iuakm]{
    width: 29%;
    padding: 10px;
   margin: 10px;
    float:left;
}
.container[b-qno29iuakm]
{
    display: inline;
}

img[b-qno29iuakm]{
    width:90% ;
    padding: 10px;
}