*[b-nckaa59lxj] {box-sizing: border-box;}

.card[b-nckaa59lxj]{
    padding: 20px;
    width: 65%;
    float: left;
}

.button-message[b-nckaa59lxj]
{
    float: left;
    margin-left: 2%;
}

.acceptbtn[b-nckaa59lxj]
{
    padding: 4px;
    margin-right: 10px;
}

#product-image[b-nckaa59lxj]
{
    width: 50%;
}

.small-card[b-nckaa59lxj]
{
    padding: 20px;
    width: 34%;
    float: right;
}