*[b-341o8pllcz]
{
    box-sizing: border-box;
}

.categoryCard[b-341o8pllcz] {
   display: flex;
    height: 380px;
    width: auto;
    margin: 30px 0px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
}

.categoryTitle[b-341o8pllcz]{
   margin: 0px auto;
    color: white;
    font-family: "Arial Black";
    font-size: 100px;
    -webkit-text-stroke: 3px black;
}

.eco-container[b-341o8pllcz] {
    width: 45%;
    margin: 0px auto;
    background-color: #1dbf51;
    color: white;
    -webkit-text-stroke: 1px black;
}



