.colorBtn[b-ecdsryc5i8] {
    aspect-ratio: 1;
    border-radius: 50%;
    float:left;
    place-items: center;
}

.sizeBtn[b-ecdsryc5i8]
{
    aspect-ratio: 1;
    border-radius: 20%;
    float:left;
    place-items: center;
    border: black solid;
    width: 40px;
}

.sockImg[b-ecdsryc5i8]
{
    width: 48%;
    float: left;
}

.sockInfo[b-ecdsryc5i8]
{
    width: 50%;
    float: left;
}