/* /Pages/CreateSock.razor.rz.scp.css */
*[b-12n00fbuqh] {box-sizing: border-box;}

.form-group-field[b-12n00fbuqh]{
    padding: 10px;
    float: left;
}
.card[b-12n00fbuqh]{
    padding: 20px;
    float: left;
    width: 65%;
}

.button-message[b-12n00fbuqh]
{
    float: left;
    margin-left: 2%;
}
.small-form-field[b-12n00fbuqh]
{
    width: 50%;
    padding: 10px;
    float: left;
    display: inline;
}


input[b-12n00fbuqh]
{
    width: 73%;
    float: right;
}
.long-input[b-12n00fbuqh]
{
    width: 87%;
}

.acceptbtn[b-12n00fbuqh]
{
    padding: 4px;
    margin-right: 10px;
}
#dropdown-list[b-12n00fbuqh]
{
    float: right;
    width: 75%;
}
#dropdown-input[b-12n00fbuqh]
{
    width: 100%;
    float: right;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-wcssxcvg4k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wcssxcvg4k] {
    flex: 1;
}

.sidebar[b-wcssxcvg4k] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wcssxcvg4k] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wcssxcvg4k]  a, .top-row[b-wcssxcvg4k]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-wcssxcvg4k]  a:hover, .top-row[b-wcssxcvg4k]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-wcssxcvg4k]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wcssxcvg4k] {
        display: none;
    }

    .top-row.auth[b-wcssxcvg4k] {
        justify-content: space-between;
    }

    .top-row[b-wcssxcvg4k]  a, .top-row[b-wcssxcvg4k]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wcssxcvg4k] {
        flex-direction: row;
    }

    .sidebar[b-wcssxcvg4k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wcssxcvg4k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-wcssxcvg4k]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-wcssxcvg4k], article[b-wcssxcvg4k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ov4nba62sm] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ov4nba62sm] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ov4nba62sm] {
    font-size: 1.1rem;
}

.oi[b-ov4nba62sm] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ov4nba62sm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ov4nba62sm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ov4nba62sm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ov4nba62sm]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ov4nba62sm]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ov4nba62sm]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ov4nba62sm] {
        display: none;
    }

    .collapse[b-ov4nba62sm] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
